<!DOCTYPE html>
<html lang="es">
<head>
    <title>Clinica Odontologica</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/get_paciente.js"></script>
    <script type="text/javascript" src="/js/delete_paciente.js"></script>
</head>
<body style="background-color: #343a40; color: #ced4da; text-align : center">
<h1>Pacientes</h1>
<div class="container" style="text-align : center" class="mx-auto" >
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" style="color: #ced4da">
            <a class="nav-link" href="/views/pacienteCreate.html/">Agregar nuevo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../index.html">Volver al inicio</a>
        </li>
    </ul>

    <br>
    <br>
    <div id="div_paciente_table" class="mx-auto" style="text-align : center">
        <div class="row table-responsive" class="mx-auto">
            <table id="pacienteTable" class="table table-dark table-hover" class="mx-auto">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Identificación</th>
                    <th>Dirección</th>
                    <th>Fecha Modificación</th>
                </tr>
                </thead>
                <tbody id="pacienteTableBody">

                </tbody>
            </table>
        </div>
    </div>

    <hr>
</div>
</body>
</html>