
/* Ganeral Styles */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}


/* Header Styles */

.header-discounts {
    padding: 10px;
    font-size: 1rem;
    background-color: #1CD1B0;
}

.header-title {
    padding: 1.75rem;
    font-size: 2.5rem;
    background-color: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    text-align: center;
}


/* Hero Cards Styles */

.hero-cards {
    width: 70%;
    margin: 60px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.hero-card {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #F3F3F3;
  }

.hero-card-header {
    height: 193px;
    position: relative;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.hero-card-background {
    width: 100%;
    height: 100%;
}

.heart-icon {
    position: absolute;
    top: 15px;
    left: 20px;
}

.hero-card-content { 
    padding: 50px 13px 18px;
    color: #333333;
    position: relative;
    display: flex;
    flex-direction: column;
}

.hero-card-picture {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    position: absolute;
    top: -68px;
    left: calc(50% - 61px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-card-title {
    margin-bottom: 10px;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
}

.hero-card-description {
    padding: 5px;
}

.hero-card-button {
    width: 128px;
    padding: 15px 37px;
    color: #FFFFFF;
    background-color: #00669F;
    border: none;
    margin: 0 auto;
}

/* Footer Styles */

.footer {
    padding: 15px;
    background-color: #00669F;
    color: #FFFFFF
}

