body{
    background-color: yellow;

}

header{
    background-color: aquamarine;
}

footer{
    background-color: blueviolet;

}

main{
    display: flex;

}

.internacional{
    color: blue;
    background-color: red;
}