
/* Ganeral Styles */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}


/* Header Styles */

.header-discounts {
    font-size: 1rem;
    background-color:#D1891C;
    line-height: 1.5rem;
    padding-left: 1rem;
}

.header-title {
    padding: 1rem;
    color: #FFFFFF;
    font-size: 2rem;
    background-color: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}


/* Hero Cards Styles */

.heroes {
    width: 60%;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    grid-gap: 100px;
}

.hero-card {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #F3F3F3;
  }

#harley {
 display: none;
  }

.hero-card-header {
    height: 250px;
    position: relative;

}

.hero-card-background {
    width: 100%;
    height: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.heart-icon {
    position: absolute;
    top: 15px;
    left: 20px;
    height: 30px;
}

.hero-card-content { 
    padding: 50px 13px 18px;
    color: #333333;
    position: relative;
    display: flex;
    flex-direction: column;

}

.hero-card-picture {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    position: absolute;
    top: -68px;
    left: calc(50% - 61px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-card-title {
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

.hero-card-description {
    padding: 5px;
}

.hero-card-button {
    width: 128px;
    padding: 15px 37px;
    color: #FFFFFF;
    background-color: #00669F;
    border: none;
    margin: 0 auto;
}

.additional-characters{
    position: absolute;
    width: 60px;
    height: 60px;
    top: 915px;
    left: 85%;
    margin-right:5%;
}

.ellipse{
    width: 100%;
    height: 100%;
    position: relative;
}

.plus{
    position: absolute;
    width: 50%;
    left: calc(50% - 15px);
    top: calc(50% - 15px);

}
/* Footer Styles */

.footer {
    padding: 8px;
    background-color: #00669F;
    color: #FFFFFF;
    display:flex;
    font-size: 0,8rem;
   align-items:  center;
    flex-direction: column;
}

.github{
    height: 20px;
}

@media screen and (min-width:768px){

    .heroes {
        width:90%;
        margin: 100px auto;
        flex-direction:row;
        flex-wrap: wrap;
        grid-gap: 50px;
    }
    
    .hero-card {
       max-width: 40%;

      }
    
    #harley{
        display: block;
    }

    .footer{
        justify-content: center;
        flex-direction: row;
    }


    .additional-characters{
        position: absolute;
        width: 80px;
        height: 80px;
        top: 850px;
        left: 87%;
        margin-right:5%;
    }

    .disclaimer{
        padding-left: 20%;
    }
        
    .github{
        padding-left: 10%;
    }

    .plus{
        position: absolute;
        width: 50%;
        left: calc(50% - 20px);
        top: calc(50% - 20px);


    }

    .hero-card-content{
        color: blue;
    }
}

@media screen and (min-width:900px) {

    .heroes {
    justify-content: center;
    }


    .hero-card {
        max-width: 450px;

    }

    .hero-card-picture {
        width: 150px;
        height: 150px;
        top: -70px;
        left: calc(50% - 75px);  
    }


    .additional-characters{
            margin-right:20%;
            top: 800px;
            left: 90%;
    }

    .hero-card-title {
        margin-top: 50px;

    }

    .hero-card-content{
        color: pink;
    }


}

@media screen and (min-width:1400px){

    .heroes {
        width:100%;
    justify-content: center;
    }
    
    .hero-card{
        font-size: 1.5rem;

    }


    .hero-card-title{
        font-size: 2.5rem;
    }


    .additional-characters{
            margin-bottom:500px;
            top: 1100px;

    }
    
    .footer {
        margin-top: 300px;
        font-size: 2rem;

    }
    
    .github{
        height: 40px;
        padding-left: 600px;
    }

    .hero-card-content{
        color: green;
    }

}


