ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}

ul > li {
  padding: 10px;
  border: 1px solid #333;
  background-color: #111;
  border-radius: 10px;
  width: calc(25% - 9px);
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  ul > li {
    width: calc(50% - 6px);
  }
}
